.main {
    padding: 5rem;
    padding-top: 1rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
  .confettiButton {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-left: 10px;
  }

 